@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans/GeneralSans-Light.otf") format("openType");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans/GeneralSans-Regular.otf") format("openType");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans/GeneralSans-Medium.otf") format("openType");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans/GeneralSans-Semibold.otf") format("openType");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans/GeneralSans-Bold.otf") format("openType");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "General Sans Variable";
  src: url("../fonts/GeneralSans/GeneralSans-Variable.ttf") format("trueType");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Medium.ttf") format("trueType");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Bold.ttf") format("trueType");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham/Gotham-Book.ttf") format("trueType");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "slick";
  src: url("../fonts/slick/slick.woff") format("woff2");
  font-weight: 400;
  font-display: swap;
}
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "General Sans", sans-serif;
  line-height: 1.6;
  direction: ltr;
  background-color: #E3E3E3;
}

ul {
  padding: 0;
}

a {
  color: #5C2A78;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover, a:focus {
  color: #111417;
  outline: none;
}

strong,
b {
  font-weight: bold;
}

.mtn-text-1 {
  font-size: 0.0625em;
}

.mtn-text-2 {
  font-size: 0.125em;
}

.mtn-text-3 {
  font-size: 0.1875em;
}

.mtn-text-4 {
  font-size: 0.25em;
}

.mtn-text-5 {
  font-size: 0.3125em;
}

.mtn-text-6 {
  font-size: 0.375em;
}

.mtn-text-7 {
  font-size: 0.4375em;
}

.mtn-text-8 {
  font-size: 0.5em;
}

.mtn-text-9 {
  font-size: 0.5625em;
}

.mtn-text-10 {
  font-size: 0.625em;
}

.mtn-text-11 {
  font-size: 0.6875em;
}

.mtn-text-12 {
  font-size: 0.75em;
}

.mtn-text-13 {
  font-size: 0.8125em;
}

.mtn-text-14 {
  font-size: 0.875em;
}

.mtn-text-15 {
  font-size: 0.9375em;
}

.mtn-text-16 {
  font-size: 1em;
}

.mtn-text-17 {
  font-size: 1.0625em;
}

.mtn-text-18 {
  font-size: 1.125em;
}

.mtn-text-19 {
  font-size: 1.1875em;
}

.mtn-text-20 {
  font-size: 1.25em;
}

.mtn-text-21 {
  font-size: 1.3125em;
}

.mtn-text-22 {
  font-size: 1.375em;
}

.mtn-text-23 {
  font-size: 1.4375em;
}

.mtn-text-24 {
  font-size: 1.5em;
}

.mtn-text-25 {
  font-size: 1.5625em;
}

.mtn-text-26 {
  font-size: 1.625em;
}

.mtn-text-27 {
  font-size: 1.6875em;
}

.mtn-text-28 {
  font-size: 1.75em;
}

.mtn-text-29 {
  font-size: 1.8125em;
}

.mtn-text-30 {
  font-size: 1.875em;
}

.mtn-text-31 {
  font-size: 1.9375em;
}

.mtn-text-32 {
  font-size: 2em;
}

.mtn-text-33 {
  font-size: 2.0625em;
}

.mtn-text-34 {
  font-size: 2.125em;
}

.mtn-text-35 {
  font-size: 2.1875em;
}

.mtn-text-36 {
  font-size: 2.25em;
}

.mtn-text-37 {
  font-size: 2.3125em;
}

.mtn-text-38 {
  font-size: 2.375em;
}

.mtn-text-39 {
  font-size: 2.4375em;
}

.mtn-text-40 {
  font-size: 2.5em;
}

.mtn-text-41 {
  font-size: 2.5625em;
}

.mtn-text-42 {
  font-size: 2.625em;
}

.mtn-text-43 {
  font-size: 2.6875em;
}

.mtn-text-44 {
  font-size: 2.75em;
}

.mtn-text-45 {
  font-size: 2.8125em;
}

.mtn-text-46 {
  font-size: 2.875em;
}

.mtn-text-47 {
  font-size: 2.9375em;
}

.mtn-text-48 {
  font-size: 3em;
}

.mtn-text-49 {
  font-size: 3.0625em;
}

.mtn-text-50 {
  font-size: 3.125em;
}

.mtn-text-51 {
  font-size: 3.1875em;
}

.mtn-text-52 {
  font-size: 3.25em;
}

.mtn-text-53 {
  font-size: 3.3125em;
}

p {
  line-height: 28px;
  font-weight: 400;
}

.mtn-font-General {
  font-family: "General Sans", sans-serif;
}

.mtn-font-General-variable {
  font-family: "General Sans Variable", sans-serif;
}

.mtn-font-Gotham {
  font-family: "Gotham", sans-serif;
}

.mtn-font-Gotham-book {
  font-family: "Gotham Book", sans-serif;
}

.mtn-fw-light {
  font-weight: 300;
}

.mtn-fw-normal {
  font-weight: 400;
}

.mtn-fw-medium {
  font-weight: 500;
}

.mtn-fw-semiBold {
  font-weight: 600;
}

.mtn-fw-bold {
  font-weight: 700;
}

.mtn-fw-extraBold {
  font-weight: 800;
}

.mtn-fw-black {
  font-weight: 800;
}

.mtn-color-green-1 {
  color: #94C11F;
}

.mtn-color-green-2 {
  color: #007635;
}

.mtn-color-orange-1 {
  color: #F07D00;
}

.mtn-color-orange-2 {
  color: #E74011;
}

.mtn-color-blue-1 {
  color: #3CA4DC;
}

.mtn-color-blue-2 {
  color: #004F9F;
}

.mtn-color-mauve-1 {
  color: #C8057F;
}

.mtn-color-mauve-2 {
  color: #64105B;
}

.mtn-color-rouge-1 {
  color: #D41124;
}

.mtn-color-rouge-2 {
  color: #991520;
}

.mtn-color-grey-1 {
  color: #9399A7;
}

.mtn-bg-green-1 {
  background-color: #94C11F;
}

.mtn-bg-green-2 {
  background-color: #007635;
}

.mtn-bg-orange-1 {
  background-color: #F07D00;
}

.mtn-bg-orange-2 {
  background-color: #E74011;
}

.mtn-bg-blue-1 {
  background-color: #3CA4DC;
}

.mtn-bg-blue-2 {
  background-color: #004F9F;
}

.mtn-bg-mauve-1 {
  background-color: #C8057F;
}

.mtn-bg-mauve-2 {
  background-color: #64105B;
}

.mtn-bg-rouge-1 {
  background-color: #D41124;
}

.mtn-bg-rouge-2 {
  background-color: #991520;
}

.mtn-bg-grey-1 {
  background-color: #9399A7;
}

header {
  position: absolute;
  width: 100%;
  top: 25px;
  z-index: 9;
}
header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header .menu-page {
  list-style: none;
  margin: 0;
  padding: 0;
}
header .header .menu-page li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}
header .header .menu-page li a {
  font-family: "General Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}
header .header .search {
  font-family: "General Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: white;
  padding: 14px 37px 14px 24px;
  border: 2px solid white;
  border-radius: 4px;
  background: transparent url("../img/btn-arrow-sm.svg") no-repeat right 20px center;
  transition: all 0.5s ease-out;
}
header .header .search:hover {
  color: #8215A8;
  background: white url("../img/btn-arrow-sm-mauve.svg") no-repeat right 20px center;
}
header .header .lng {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 50px;
}
header .header .lng li {
  display: inline-block;
  vertical-align: middle;
}
header .header .lng li a {
  font-family: "General Sans Variable", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: white;
}
header .header .lng li.active a {
  font-weight: 700;
}
header .btn-mobile {
  background: transparent;
  border: none;
  padding: 0;
  margin-left: 20px;
  background: url(../img/icon13.svg) no-repeat center;
  width: 25px;
  height: 25px;
  position: relative;
  background-size: 35px;
}

footer .footer .top-footer {
  background: url("../img/background-footer.png") no-repeat;
  background-size: cover;
  padding: 40px 0;
}
footer .footer .top-footer .right-img {
  left: 30px;
  position: relative;
}
footer .footer .top-footer hr {
  background: #932DD6;
  width: 60%;
}
footer .footer .top-footer .newsletter {
  margin: 0 80px 0 0;
}
footer .footer .top-footer .newsletter form {
  margin-top: 9px;
}
footer .footer .top-footer .newsletter h4 {
  font-size: 27px;
  color: #F9C46E;
  font-family: "General Sans", sans-serif;
  font-weight: 600;
  margin: 0;
}
footer .footer .top-footer .newsletter p {
  color: white;
  font-family: "General Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
footer .footer .top-footer .newsletter form {
  padding: 17px 27px;
  display: flex;
  position: relative;
  border-radius: 8px 0 39px 8px;
  overflow: hidden;
}
footer .footer .top-footer .newsletter form:before {
  content: "";
  opacity: 0.8;
  background: #292458;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
footer .footer .top-footer .newsletter form input[type=email] {
  padding: 13px 24px;
  border-radius: 4px;
  font-family: "General Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #646974;
  border: 1px solid #9399A7;
  background: white;
  margin-right: 12px;
  position: relative;
  width: 250px;
}
footer .footer .top-footer .newsletter form input[type=submit] {
  position: relative;
  font-family: "General Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 0 24px;
  color: white;
  border-radius: 4px 4px 20px 4px;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgb(70, 79, 204) 0%, rgb(118, 47, 191) 35%, rgb(164, 18, 180) 100%);
  border: 1px solid #736CCC;
}
footer .footer .top-footer .newsletter form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "General Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #646974;
}
footer .footer .top-footer .newsletter form ::-moz-placeholder {
  font-family: "General Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #646974;
}
footer .footer .top-footer .newsletter form ::placeholder {
  font-family: "General Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #646974;
}
footer .footer .top-footer .menu-top-footer {
  list-style: none;
  margin: 0 80px 0 0;
  padding: 0;
}
footer .footer .top-footer .menu-top-footer li {
  margin-bottom: 7px;
}
footer .footer .top-footer .menu-top-footer li a {
  color: #8577CE;
  font-family: "General Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
footer .footer .top-footer .menu-top-footer li:first-of-type {
  font-family: "General Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #F9C46E;
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer .footer .bottom-footer {
  background: linear-gradient(90deg, rgb(39, 64, 161) 0%, rgb(41, 15, 119) 35%, rgb(105, 17, 122) 100%);
  padding: 25px 0;
}
footer .footer .bottom-footer p {
  margin: 0;
  color: #E9C8FF;
  font-family: "General Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-right: 60px;
}
footer .footer .bottom-footer ul {
  margin: 0;
  margin-left: 55px;
  list-style: none;
  padding: 0;
}
footer .footer .bottom-footer ul li {
  margin-right: 55px;
  display: inline-block;
}
footer .footer .bottom-footer ul li a {
  font-family: "General Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #E9C8FF;
}

.mtn-container-xl {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

.mtn-container-xxl {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1920px;
}

@media (max-width: 1200px) {
  .mtn-container-xl,
.mtn-container-xxl {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .mtn-container-xl,
.mtn-container-xxl {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .mtn-container-xl,
.mtn-container-xxl {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .mtn-container-xl,
.mtn-container-xxl {
    max-width: 540px;
    padding-inline: 5px;
  }
}
@media (max-width: 576px) {
  .space.space-1x {
    height: 25px;
  }
  .space.space-2x {
    height: 50px;
  }
  .space.space-3x {
    height: 75px;
  }
  .space.space-4x {
    height: 100px;
  }
}
@media (min-width: 992px) {
  .mtn-container-alpha {
    max-width: 1000px;
    padding-left: calc((100% - 960px) / 2);
    padding-right: 15px;
  }
  .mtn-container-fluid {
    width: calc((100% - 960px) / 2 + 960px) !important;
    margin-right: 0;
    max-width: initial;
  }
}
@media (min-width: 1200px) {
  .mtn-container-alpha {
    max-width: 1250px;
    padding-left: calc((100% - 1140px) / 2);
    padding-right: 15px;
  }
  .mtn-container-fluid {
    width: calc((100% - 1140px) / 2 + 1140px) !important;
    margin-right: 0;
    max-width: initial;
  }
}
@media (min-width: 1300px) {
  .mtn-container {
    max-width: 1260px;
  }
  .mtn-container-fluid {
    width: calc((100% - 1260px) / 2 + 1260px) !important;
    margin-right: 0;
    max-width: initial;
  }
  .mtn-container-alpha {
    max-width: 1530px;
    padding-left: calc((100% - 1260px) / 2);
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .mtn-container-alpha {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .mtn-container-fluid {
    width: calc((100% - 719px) / 2 + 719px) !important;
    margin-right: 0;
    max-width: initial;
  }
}
@media (min-width: 1400px) {
  .mtn-container-fluid {
    width: calc((100% - 1237px) / 2 + 1237px) !important;
    margin-right: 0;
    max-width: initial;
  }
}
@media (max-width: 991px) {
  .mtn-container-fluid {
    width: 100% !important;
    margin-right: 0;
    max-width: initial;
  }
}
@media (max-width: 767px) {
  .mtn-container-fluid {
    width: 100% !important;
  }
}
@media (max-width: 575px) {
  .mtn-container-fluid {
    width: 100% !important;
    margin-right: 0;
    max-width: initial;
  }
}
@-webkit-keyframes Orbit {
  from {
    transform: rotate(0deg) translateX(5%) rotate(0deg) translate3d(-50%, -50%, 0);
  }
  to {
    transform: rotate(360deg) translateX(5%) rotate(-360deg) translate3d(-50%, -50%, 0);
  }
}
@keyframes Orbit {
  from {
    transform: rotate(0deg) translateX(5%) rotate(0deg) translate3d(-50%, -50%, 0);
  }
  to {
    transform: rotate(360deg) translateX(5%) rotate(-360deg) translate3d(-50%, -50%, 0);
  }
}
@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(0, -1px, 0) translate3d(-50%, -50%, 0);
  }
  20%, 80% {
    transform: translate3d(0, 4px, 0) translate3d(-50%, -50%, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(0, 4px, 0) translate3d(-50%, -50%, 0);
  }
  40%, 60% {
    transform: translate3d(0, 1px, 0) translate3d(-50%, -50%, 0);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -1px, 0) translate3d(-50%, -50%, 0);
  }
  20%, 80% {
    transform: translate3d(0, 4px, 0) translate3d(-50%, -50%, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(0, 4px, 0) translate3d(-50%, -50%, 0);
  }
  40%, 60% {
    transform: translate3d(0, 1px, 0) translate3d(-50%, -50%, 0);
  }
}
@-webkit-keyframes vibrate {
  0.50%, 10%, 20%, 30%, 40%, 50% {
    transform: translate3d(1.5px, 0, 0);
  }
  5%, 15%, 25%, 35%, 45% {
    transform: translate3d(-1.5px, 0, 0);
  }
  100% {
    transform: translate3d(1.5px, 0, 0);
  }
}
@keyframes vibrate {
  0.50%, 10%, 20%, 30%, 40%, 50% {
    transform: translate3d(1.5px, 0, 0);
  }
  5%, 15%, 25%, 35%, 45% {
    transform: translate3d(-1.5px, 0, 0);
  }
  100% {
    transform: translate3d(1.5px, 0, 0);
  }
}
@-webkit-keyframes topbar-x {
  0% {
    top: 0px;
    transform: rotate(0deg);
  }
  45% {
    top: 6px;
    transform: rotate(145deg);
  }
  75% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
@keyframes topbar-x {
  0% {
    top: 0px;
    transform: rotate(0deg);
  }
  45% {
    top: 6px;
    transform: rotate(145deg);
  }
  75% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
@-webkit-keyframes topbar-back {
  0% {
    top: 6px;
    transform: rotate(135deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    top: 0px;
    transform: rotate(0);
  }
}
@keyframes topbar-back {
  0% {
    top: 6px;
    transform: rotate(135deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    top: 0px;
    transform: rotate(0);
  }
}
@-webkit-keyframes bottombar-x {
  0% {
    bottom: 0px;
    transform: rotate(0deg);
  }
  45% {
    bottom: 6px;
    transform: rotate(-145deg);
  }
  75% {
    transform: rotate(-130deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}
@keyframes bottombar-x {
  0% {
    bottom: 0px;
    transform: rotate(0deg);
  }
  45% {
    bottom: 6px;
    transform: rotate(-145deg);
  }
  75% {
    transform: rotate(-130deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}
@-webkit-keyframes bottombar-back {
  0% {
    bottom: 6px;
    transform: rotate(135deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    bottom: 0px;
    transform: rotate(0);
  }
}
@keyframes bottombar-back {
  0% {
    bottom: 6px;
    transform: rotate(135deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    bottom: 0px;
    transform: rotate(0);
  }
}
@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes crescendo {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.6);
  }
}
@keyframes crescendo {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.6);
  }
}
#return-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #08236e;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  transition: all 0.3s ease;
  z-index: 101;
  cursor: pointer;
  color: #fff;
}
#return-to-top:hover {
  background: rgba(8, 35, 110, 0.6588235294);
}
#return-to-top span {
  color: #fff;
  margin: 0;
  position: relative;
  left: 18px;
  top: 13px;
  transition: all 0.3s ease;
}
#return-to-top span:hover {
  color: #fff;
  top: 11px;
}

::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}

::-webkit-scrollbar-track {
  background-color: #e3e8f5;
  border-radius: 100vw;
}
::-webkit-scrollbar-track:hover {
  background-color: #D0D8EF;
}

::-webkit-scrollbar-thumb {
  background-color: #97128E;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #562770;
}

.loading_container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}
.loading_container .loading {
  width: 50px;
  height: 50px;
  margin: 2rem;
  border-radius: 50%;
  border: 7px solid rgba(175, 175, 175, 0.493);
  border-top-color: #252aac;
  -webkit-animation: 1.5s spin infinite linear;
          animation: 1.5s spin infinite linear;
  position: absolute;
  left: calc(50% - 57px);
  top: 35%;
}

.btn-navigation {
  padding: 13px;
  text-align: left;
  border-radius: 4px;
  color: #FFFFFF;
  border: solid #FFFFFF;
  background-color: transparent;
  transition: all 0.3s;
}
.btn-navigation:hover {
  padding-inline: 20px;
  background-color: #FFFFFF;
  color: #5C2A78;
}

.btn-main-white {
  padding: 13px;
  border-radius: 4px;
  border: solid #FFFFFF;
  background-color: #FFFFFF;
  color: #5C2A78;
  width: auto;
}

.btn-main-primary {
  background: linear-gradient(90deg, #0939DA 0%, #AC0DB2 100%);
  text-align: center;
  padding-block: 14px;
  padding-inline: 24px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  box-shadow: -3px -1px 17px -5px #646974;
}

.btn-rounded {
  width: 100px;
  height: 100px;
  padding-block: 0px;
  padding-inline: 0px;
  border-radius: 50%;
  transition: all 0.6s;
}
.btn-rounded img {
  transition: all 0.6s;
  position: relative;
  top: -25px;
}
.btn-rounded span {
  transition: opacity 0.6s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  font-size: 12px;
}
@media (max-width: 768px) {
  .btn-rounded {
    -webkit-animation: crescendo 2s alternate infinite ease-in;
            animation: crescendo 2s alternate infinite ease-in;
  }
  .btn-rounded span {
    opacity: 1;
    height: auto;
  }
  .btn-rounded img {
    top: 0;
  }
}
.btn-rounded:hover {
  transform: scale(1.4);
}
.btn-rounded:hover img {
  top: 0;
}
.btn-rounded:hover span {
  opacity: 1;
  height: auto;
}

.circleContributeur-sm {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100vw;
  cursor: pointer;
  position: relative;
}
.circleContributeur-sm:before {
  content: "";
  position: absolute;
  transition: 0.5s ease all;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100vw;
  border: solid 0.5px #5C2A78;
}
.circleContributeur-sm img {
  transition: 0.5s ease all;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100vw;
  vertical-align: unset;
}
.circleContributeur-sm:hover .circleContributeur-info {
  display: block;
  opacity: 1;
  top: calc(120% + 10px) !important;
}
.circleContributeur-sm:hover img {
  transform: scale(1.1);
}
.circleContributeur-sm:hover:before {
  transform: scale(1.3);
}

.circleContributeur-md {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 100vw;
  cursor: pointer;
  position: relative;
}
.circleContributeur-md:before {
  content: "";
  position: absolute;
  transition: 0.5s ease all;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 100vw;
  border: solid 0.5px #5C2A78;
}
.circleContributeur-md img {
  transition: 0.5s ease all;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100vw;
  vertical-align: unset;
}
.circleContributeur-md:hover .circleContributeur-info {
  display: block;
  opacity: 1;
  top: calc(120% + 10px) !important;
}
.circleContributeur-md:hover img {
  transform: scale(1.1);
}
.circleContributeur-md:hover:before {
  transform: scale(1.3);
}

.circleContributeur-lg {
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  border-radius: 100vw;
  cursor: pointer;
  position: relative;
}
.circleContributeur-lg:before {
  content: "";
  position: absolute;
  transition: 0.5s ease all;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  border-radius: 100vw;
  border: solid 0.5px #5C2A78;
}
.circleContributeur-lg img {
  transition: 0.5s ease all;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100vw;
  vertical-align: unset;
}
.circleContributeur-lg:hover .circleContributeur-info {
  display: block;
  opacity: 1;
  top: calc(120% + 10px) !important;
}
.circleContributeur-lg:hover img {
  transform: scale(1.1);
}
.circleContributeur-lg:hover:before {
  transform: scale(1.3);
}

.circleContributeur-info {
  transition: all 0.5s ease-out;
  opacity: 0;
  position: absolute;
  top: calc(100% + 10px) !important;
  min-width: 160px;
  background-color: #2754EB;
  color: #FFFFFF;
  box-shadow: 0px 0px 10px 0px #2754EB;
  z-index: 99;
  left: 50% !important;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.circleContributeur-info h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}
.circleContributeur-info h3 {
  font-size: 12px;
  margin-bottom: 0;
  text-transform: capitalize;
}
.circleContributeur-info:after {
  content: "";
  border-bottom: solid 10px #2754EB;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
  top: -10px !important;
  position: absolute;
  left: calc(50% - 6px);
}

#main-contributeurs {
  background: linear-gradient(180deg, rgba(215, 152, 251, 0.36) 0%, rgb(197, 205, 219) 10%, rgb(255, 255, 255) 100%);
}

#contributeurs {
  background: center no-repeat url("../img/bg-contributeurs.svg");
  min-height: 550px;
}
#contributeurs div:nth-child(1) {
  left: 31%;
}
#contributeurs div:nth-child(2) {
  left: 62%;
  top: 15%;
}
#contributeurs div:nth-child(3) {
  left: 35%;
  top: 70%;
}
#contributeurs div:nth-child(4) {
  left: 15%;
  top: 5%;
}
#contributeurs div:nth-child(5) {
  left: 60%;
  top: 50%;
}
#contributeurs div:nth-child(6) {
  left: 20%;
  top: 38%;
}
#contributeurs div:nth-child(7) {
  left: 23%;
  top: 65%;
}
#contributeurs div:nth-child(8) {
  left: 80%;
  top: 65%;
}
#contributeurs div:nth-child(9) {
  left: 52%;
}
#contributeurs div:nth-child(10) {
  left: 57%;
  top: 78%;
}
#contributeurs div:nth-child(11) {
  left: 83%;
  top: 18%;
}
#contributeurs div:nth-child(12) {
  left: calc(50% - 57px);
  top: calc(50% - 50px);
}

#morocco-tech-hub {
  background: url("../img/ma-tech-hub.svg") left center no-repeat, url("../img/ma-tech-hub.svg") right center no-repeat, linear-gradient(0deg, #D0D8EF 0%, #FFFFFF 100%);
}
@media (max-width: 768px) {
  #morocco-tech-hub {
    background: url("../img/ma-tech-hub.svg") center no-repeat, url("../img/ma-tech-hub.svg") bottom center no-repeat, linear-gradient(0deg, #D0D8EF 0%, #FFFFFF 100%);
  }
}

#main-digitale {
  background: linear-gradient(180deg, #D0D8EF 0%, #FFFFFF 100%);
}

#sub-digitale {
  background: url("../img/bg-sub-digitale.svg") center/contain no-repeat;
}

#main-innovation {
  padding-top: 350px !important;
  background: linear-gradient(0deg, #D0D8EF 0%, #FFFFFF 100%);
}
@media (max-width: 768px) {
  #main-innovation {
    padding-top: inherit !important;
  }
}

#sub-innovation {
  background: url("../img/bg-sub-innovation.svg") center/contain no-repeat;
}

#top-footer {
  background: url("../img/background-footer.png") no-repeat;
  background-size: auto;
  background-size: cover;
  padding: 40px 0;
}

#bottom-footer {
  background: linear-gradient(90deg, rgb(39, 64, 161) 0%, rgb(41, 15, 119) 35%, rgb(105, 17, 122) 100%);
  padding: 25px 0;
}

#main-actualite {
  max-height: 900px;
  background: url("../img/back-actualite.png") center/cover no-repeat, url("../img/back-actualite-arrow.svg") right center no-repeat, linear-gradient(0deg, rgb(43, 21, 119) 0%, rgb(38, 12, 113) 30%, rgb(105, 17, 122) 100%);
}
@media (max-width: 768px) {
  #main-actualite {
    max-height: initial;
  }
}

#banner {
  position: relative;
  overflow: hidden;
}
#banner:before {
  content: "";
  background: linear-gradient(90deg, #2b1577 0%, #6d329e 55%, rgba(215, 211, 211, 0.4784313725) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#banner:after {
  content: "";
  background: transparent url(../img/bg-text.png) no-repeat center;
  position: absolute;
  width: 600px;
  height: 419px;
  top: 43px;
  left: -38px;
  background-size: 100% 100%;
}

.primary-title {
  font-size: 2.3rem;
  font-weight: 700;
  color: #64105B;
}

.grey-title {
  text-transform: uppercase;
  color: #9399A7;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2.8px;
}

.orange-title {
  text-transform: uppercase;
  color: #FF9853;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2.8px;
}

.primary-title-white {
  font-size: 2.3rem;
  font-weight: 700;
  color: #FFFFFF;
}

.mtn-text-white {
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
}
.mtn-text-white.mtn-text-center {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.mtn-black-shader {
  width: 100%;
  height: 40%;
  background: linear-gradient(180deg, rgba(31, 38, 48, 0) 0%, rgba(20, 24, 30, 0.95) 100%);
  position: absolute;
  bottom: 0;
}

.mtn-white-shader {
  width: 100%;
  height: 40%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 25%);
  position: absolute;
  bottom: 0;
}

.storyPage .color-block {
  width: 50px;
  height: 50px;
}

.morocco-tech-hub .card {
  border-radius: 16px;
  box-shadow: 0px 0px 50px 5px rgba(130, 21, 168, 0.2);
  height: 270px;
  font-size: 1.1em;
}
.morocco-tech-hub .card img {
  width: 50%;
  text-align: center;
  margin: 1.5rem auto;
  height: 135px;
}
.morocco-tech-hub .btn-hub {
  position: relative;
  left: 50% !important;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
@media (max-width: 768px) {
  .main-digitale {
    text-align: center;
  }
}
.main-digitale .sub-digitale .container-grid-img {
  display: grid;
  justify-content: center;
  margin: auto;
  height: 100%;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(48%, 48%));
}
.main-digitale .sub-digitale .container-grid-img .grid-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.main-digitale .sub-digitale .container-grid-img .grid-item:nth-child(1) {
  margin: 0px 0 15px 10px;
}
@media (max-width: 768px) {
  .main-digitale .sub-digitale .container-grid-img .grid-item:nth-child(1) {
    margin: unset;
  }
}
.main-digitale .sub-digitale .container-grid-img .grid-item:nth-child(2) {
  margin: 120px 0 0 30px;
  grid-row: span 2;
  height: 70%;
  width: 90%;
}
@media (max-width: 768px) {
  .main-digitale .sub-digitale .container-grid-img .grid-item:nth-child(2) {
    margin: unset;
    height: 100%;
    width: 100%;
  }
}
.main-digitale .sub-digitale .container-grid-img .grid-item:nth-child(3) {
  margin: 20px 0 0 50px;
  width: 75%;
  grid-row: span 1;
}
@media (max-width: 768px) {
  .main-digitale .sub-digitale .container-grid-img .grid-item:nth-child(3) {
    margin: unset;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-innovation {
    text-align: center;
  }
}
.main-innovation .sub-innovation .container-grid-img {
  display: grid;
  justify-content: center;
  margin: auto;
  height: 100%;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(48%, 48%));
}
.main-innovation .sub-innovation .container-grid-img .grid-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.main-innovation .sub-innovation .container-grid-img .grid-item:nth-child(1) {
  margin: 0px 0 15px 10px;
}
@media (max-width: 768px) {
  .main-innovation .sub-innovation .container-grid-img .grid-item:nth-child(1) {
    margin: unset;
  }
}
.main-innovation .sub-innovation .container-grid-img .grid-item:nth-child(2) {
  margin: 120px 0 0 30px;
  grid-row: span 2;
  height: 70%;
  width: 90%;
}
@media (max-width: 768px) {
  .main-innovation .sub-innovation .container-grid-img .grid-item:nth-child(2) {
    margin: unset;
    height: 100%;
    width: 100%;
  }
}

.main-actualite .main-actualite-stick {
  background: linear-gradient(90deg, rgb(246, 172, 62) 0%, rgb(151, 18, 142) 65%, rgb(40, 70, 184) 100%);
  border-radius: 0px 0px 100px 0px;
}
.main-actualite .main-actualite-stick::before {
  content: "";
  background: transparent url(../img/actualite-sticker.svg) no-repeat center;
  position: absolute;
  width: 140px;
  height: 60px;
  right: -30px;
  top: -20px;
}
.main-actualite .info-actualite {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  line-height: 0.5;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.main-actualite .info-actualite .entry-title {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 600;
  background-color: #FFFFFF;
  color: #004F9F;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main-actualite .info-actualite .entry-meta {
  font-size: 1.3rem;
  line-height: initial;
  font-weight: 600;
}
.main-actualite .img-actualite .row > * {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-top: 0 !important;
}
.main-actualite .img-actualite img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .main-actualite .img-actualite img {
    height: 250px;
  }
}

#banner {
  height: 700px;
}
#banner .absolute-banner {
  position: absolute;
  top: 182px;
  left: 0;
  right: 0;
  margin: auto;
}
#banner .absolute-banner h5 {
  font-size: 34px;
  font-family: "General Sans", sans-serif;
  font-weight: 600;
  color: white;
  margin: 0;
  position: relative;
  z-index: 1;
}
#banner .absolute-banner h2 {
  position: relative;
  font-size: 92px;
  font-family: "General Sans", sans-serif;
  font-weight: 600;
  color: white;
  margin: -15px 0 0 0;
  z-index: 1;
}
#banner .absolute-banner h3 {
  position: relative;
  font-size: 52px;
  font-family: "General Sans", sans-serif;
  font-weight: 600;
  color: white;
  margin: -10px 0 0 0;
  z-index: 1;
}
#banner .absolute-banner p {
  position: relative;
  z-index: 1;
  font-weight: 300;
  font-size: 14px;
  font-family: "General Sans", sans-serif;
  color: white;
  max-width: 500px;
  line-height: 20px;
  margin-top: 10px;
}
#banner .count-down {
  z-index: 1;
  background: rgba(255, 255, 255, 0.1490196078);
  display: flex;
  position: relative;
  border-radius: 5px 0 83px 5px;
  max-width: 685px;
  margin-top: 45px;
}
#banner .count-down .item-count-down {
  padding: 0 42px;
  text-align: center;
  position: relative;
}
#banner .count-down .item-count-down:before {
  content: "";
  background: rgba(231, 234, 241, 0.2);
  width: 1px;
  position: absolute;
  right: 0;
  height: 70%;
  margin: auto;
  top: 0;
  bottom: 0;
}
#banner .count-down .item-count-down span {
  font-size: 37px;
  font-family: "General Sans", sans-serif;
  font-weight: 600;
  color: white;
  margin: 0;
}
#banner .count-down .item-count-down p {
  font-family: "General Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #f9a5ff;
  margin-top: 0;
}
#banner .count-down .item-count-down:last-of-type:before {
  content: none;
}
#banner .count-down:before {
  content: "";
  background: transparent url(../img/img-count-down.png) no-repeat center;
  position: absolute;
  width: 30px;
  height: 30px;
  right: -31px;
  top: -10px;
}
#banner .menu-banner {
  background: linear-gradient(90deg, rgba(103, 208, 232, 0.5098039216) 0%, rgba(173, 73, 220, 0.4196078431) 35%, rgba(103, 208, 232, 0.5098039216) 100%);
  position: relative;
  z-index: 1;
}
#banner .menu-banner ul {
  list-style: none;
  display: flex;
  margin: 20px 0 0 0;
}
#banner .menu-banner ul li {
  padding: 20px 30px 20px 0;
  margin-right: 30px;
  position: relative;
}
#banner .menu-banner ul li a {
  font-family: "General Sans", sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: white;
  margin-top: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
#banner .menu-banner ul li:before {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 26px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(202, 204, 210, 0.3294117647);
}
#banner .menu-banner ul li:last-of-type:before {
  content: none;
}

@media (max-width: 1200px) {
  header .header .menu-page li {
    margin-right: 30px;
  }
  header .header .lng {
    margin-left: 30px;
  }
  header .header .search {
    padding: 10px 20px 10px 10px;
    background: transparent url(../img/btn-arrow-sm.svg) no-repeat right 4px center;
  }
  header .header .search:hover {
    background: white url(../img/btn-arrow-sm-mauve.svg) no-repeat right 4px center;
  }
}
@media (max-width: 1100px) {
  header .header .menu-page li {
    margin-right: 15px;
  }
  header .header .lng {
    margin-left: 15px;
  }
  footer {
    text-align: center;
  }
  footer .footer .top-footer .menu-top-footer {
    list-style: none;
    margin: 25px 80px 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: text-top;
  }
}
@media (max-width: 995px) {
  header .header img {
    width: 175px;
  }
  header .header .menu-page li {
    margin-right: 10px;
  }
  header .header .menu-page li a {
    font-family: "General Sans", sans-serif;
  }
  header .header .menu-page .lng {
    margin-left: 10px;
  }
}
@media (max-width: 960px) {
  footer {
    text-align: center;
  }
  footer .footer .top-footer hr {
    width: 10%;
  }
  footer .footer .top-footer .menu-top-footer {
    list-style: none;
    margin: 25px 80px 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: text-top;
  }
  footer .footer .top-footer .newsletter {
    margin: 0 auto 0 auto;
    width: 90%;
    text-align: center;
  }
  footer .footer .top-footer .newsletter form input[type=email] {
    width: 90%;
  }
  footer .footer .bottom-footer img {
    width: inherit;
  }
  footer .footer .bottom-footer ul {
    margin-left: 10px;
  }
  footer .footer .bottom-footer ul li {
    margin-right: 25px;
  }
  footer .footer img {
    width: 150px;
  }
  header .header .menu-page {
    position: absolute;
    background: #dae1f2;
    left: 0;
    width: 100%;
    top: -25px;
    display: none;
    background: linear-gradient(90deg, rgba(9, 57, 218, 0.7882352941) 0%, #ac0db2 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
  }
  header .header .menu-page li {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
  }
  #banner .absolute-banner h2 {
    font-size: 60px;
  }
  #banner .menu-banner ul li {
    padding: 20px 15px 20px 0;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  header .header .search {
    font-size: 17px;
    padding: 10px 35px 10px 10px;
  }
  footer {
    text-align: center;
  }
  footer .footer .top-footer hr {
    width: 10%;
  }
  footer .footer .top-footer .menu-top-footer {
    margin: 25px 20px 0 0;
  }
  footer .footer .bottom-footer ul li {
    margin-right: 15px;
  }
  footer .footer .bottom-footer img {
    width: inherit;
  }
  footer .footer .bottom-footer p {
    margin-right: 5px;
  }
  footer .footer img {
    width: 150px;
  }
  #banner {
    height: 620px;
  }
  #banner .menu-banner ul li a {
    font-size: 15px;
  }
}
@media (max-width: 640px) {
  header .header img {
    width: 140px;
  }
  header .header .search {
    font-size: 12px;
    padding: 10px 20px 10px 10px;
  }
  #banner .absolute-banner {
    top: 170px;
  }
  #banner .absolute-banner h5 {
    font-size: 18px;
  }
  #banner .absolute-banner h2 {
    font-size: 40px;
    margin: 0;
  }
  #banner .absolute-banner h3 {
    font-size: 35px;
    margin: 0;
  }
  #banner .count-down {
    margin-top: 0;
    width: 94%;
  }
  #banner .count-down .item-count-down {
    padding: 0 10px;
  }
  #banner .count-down .item-count-down span {
    font-size: 20px;
  }
  #banner .count-down .item-count-down p {
    font-size: 12px;
  }
  #banner .count-down:before {
    background-size: 18px;
  }
  #banner .menu-banner ul {
    display: block;
    text-align: center;
  }
  #banner .menu-banner ul li {
    padding: 10px 10px 10px 0;
    margin-right: 0;
  }
  #banner .menu-banner ul li a {
    font-size: 14px;
  }
  #banner .menu-banner ul li:before {
    right: 0;
    left: 0;
    width: 61%;
    height: 1px;
    top: auto;
    bottom: 0;
    margin: auto;
  }
  footer .footer .top-footer .newsletter form {
    padding: 17px 5px;
  }
  footer .footer .top-footer .newsletter form input[type=submit] {
    width: 60px;
    padding: 0 4px;
    font-size: 10px;
  }
  footer .footer .top-footer .newsletter form input[type=email] {
    width: 72%;
    margin-right: 6px;
  }
}
@media (max-width: 300px) {
  header .header img {
    width: 100px;
  }
  header .header .search {
    font-size: 10px;
    padding: 10px 17px 10px 5px;
  }
  header .header .lng li a {
    font-family: "General Sans Variable", sans-serif;
    font-size: 10px;
  }
  header .btn-mobile {
    border: none;
    padding: 0;
    margin-left: 10px;
    background-size: 20px;
  }
  #banner .absolute-banner h3 {
    font-size: 30px;
  }
}/*# sourceMappingURL=main.css.map */