$global-left: $mtn-left;
$global-right: $mtn-right;

@mixin pos(
  $mtn-top: none,
  $mtn-right: none,
  $mtn-bottom: none,
  $mtn-left: none
) {
  @if $top != none {
    top: $top;
  }

  @if $mtn-right != none {
    #{$global-right}: $mtn-right;
  }

  @if $bottom != none {
    bottom: $bottom;
  }

  @if $mtn-left != none {
    #{$global-left}: $mtn-left;
  }
}

@mixin gradient($rad, $color1, $color2, $default) {
  background: $default; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    $rad,
    $color1,
    $color2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    $rad,
    $color1,
    $color2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin flipx() {
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@mixin flipy() {
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

@mixin flipIfMobile {
  @if $direction == rtl {
    @include flipx();
  }
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin centerx() {
  left: 50% !important;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

@mixin centery() {
  top: 50% !important;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@mixin flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin alignItems($align) {
  -webkit-box-align: $align;
  -ms-flex-align: $align;
  align-items: $align;
}

@mixin justifyContentBetwen() {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin justifyContentEnd() {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@mixin justifyContentStart() {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@mixin justifyContentCenter() {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flexWrap() {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin flexWidth($w) {
  flex: 0 0 $w;
  max-width: $w;
  width: 100%;
}

@mixin bringChildsToFront($z: 2) {
  & > * {
    position: relative;
    z-index: $z;
  }
}

@mixin overlay($zIndex: 2, $opacity: 0.7, $bg: #000) {
  background: $bg;
  opacity: $opacity;
  z-index: $zIndex;
  position: absolute;
  content: "";
  @include pos(0, 0, 0, 0);
}

@mixin boxshadow($level: 1) {
  @if $level==1 {
    box-shadow: rgba(0, 0, 0, 0.055) 0 0 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.055) 0 0 2px;
  } @else if $level == 2 {
    box-shadow: rgba(0, 0, 0, 0.2) 0 0px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0px 4px;
  } @else if $level == 3 {
    box-shadow: rgba(0, 0, 0, 0.1) 8px 10px 30px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 8px 10px 30px 0px;
  } @else if $level == 4 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px 0px;
  } @else if $level == 5 {
    box-shadow: rgba(0, 0, 0, 0.3) 8px 10px 37px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 8px 10px 37px 0px;
  }
}

@mixin cirlce($w) {
  width: $w;
  height: $w;
  line-height: $w;
  text-align: center;
  border-radius: 100vw;
}

@mixin make-container($padding-x: 2rem) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}
@mixin make-contributeur($width: 100px) {
  @include cirlce($width);
  cursor: pointer;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    transition: 0.5s ease all;
    @include cirlce($width);
    border: solid 0.5px $mtn-primary;
  }
  img {
    transition: 0.5s ease all;
    width: 100%;
    object-fit: cover;
    border-radius: 100vw;
    vertical-align: unset;
  }
  &:hover {
    .circleContributeur-info {
      display: block;
      opacity: 1;
      top: calc(100% + 20% + 10px) !important;
    }
    img {
      transform: scale(1.1);
    }
    &:before {
      transform: scale(1.3);
    }
  }
}
