.morocco-tech-hub {
  .card {
    border-radius: 16px;
    box-shadow: 0px 0px 50px 5px rgba($mtn-mauve-2, 0.2);
    height: 270px;
    font-size: 1.1em;
    img {
      width: 50%;
      text-align: center;
      margin: 1.5rem auto;
      height: 135px;
    }
  }
  .btn-hub {
    position: relative;
    @include centerx();
  }
  @media (max-width: 1000px) {
    // h5 {
    //   font-size: 10px !important;
    // }
  }
}
.main-digitale {
  @media (max-width: 768px) {
    text-align: center;
  }
  .sub-digitale {
    .container-grid-img {
      display: grid;
      justify-content: center;
      margin: auto;
      height: 100%;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fit, minmax(48%, 48%));
      .grid-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
      }
      .grid-item:nth-child(1) {
        margin: 0px 0 15px 10px;
        @media (max-width: 768px) {
          margin: unset;
        }
      }
      .grid-item:nth-child(2) {
        margin: 120px 0 0 30px;
        grid-row: span 2;
        height: 70%;
        width: 90%;
        @media (max-width: 768px) {
          margin: unset;
          height: 100%;
          width: 100%;
        }
      }
      .grid-item:nth-child(3) {
        margin: 20px 0 0 50px;
        width: 75%;
        grid-row: span 1;
        @media (max-width: 768px) {
          margin: unset;
          width: 100%;
        }
      }
    }
  }
}
.main-innovation {
  @media (max-width: 768px) {
    text-align: center;
  }
  .sub-innovation {
    .container-grid-img {
      display: grid;
      justify-content: center;
      margin: auto;
      height: 100%;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fit, minmax(48%, 48%));
      .grid-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
      }
      .grid-item:nth-child(1) {
        margin: 0px 0 15px 10px;
        @media (max-width: 768px) {
          margin: unset;
        }
      }
      .grid-item:nth-child(2) {
        margin: 120px 0 0 30px;
        grid-row: span 2;
        height: 70%;
        width: 90%;
        @media (max-width: 768px) {
          margin: unset;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
.main-actualite {
  .main-actualite-stick {
    background: linear-gradient(
      90deg,
      rgba(246, 172, 62, 1) 0%,
      rgba(151, 18, 142, 1) 65%,
      rgba(40, 70, 184, 1) 100%
    );
    border-radius: 0px 0px 100px 0px;
    &::before {
      content: "";
      background: transparent url(../img/actualite-sticker.svg) no-repeat center;
      position: absolute;
      width: 140px;
      height: 60px;
      right: -30px;
      top: -20px;
    }
  }
  .info-actualite {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    line-height: 0.5;
    color: #fff;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    );
    .entry-title {
      text-transform: uppercase;
      font-size: 0.85rem;
      font-weight: $font-weight-semi-bold;
      background-color: $mtn-white-1;
      color: $mtn-logo-blue-2;
      border-radius: 20px;
      width: fit-content;
    }
    .entry-meta {
      font-size: 1.3rem;
      line-height: initial;
      font-weight: $font-weight-semi-bold;
    }
  }

  .img-actualite {
    .row > * {
      margin-top: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      padding-right: 0 !important;
      padding-left: 0 !important;
      margin-top: 0 !important;
    }

    img {
      position: relative;
      object-fit: cover;
      @media (max-width: 768px) {
        height: 250px;
      }
    }
  }
}
#banner {
  height: 700px;
  .absolute-banner {
    position: absolute;
    top: 182px;
    left: 0;
    right: 0;
    margin: auto;
    h5 {
      font-size: 34px;
      font-family: $font-family-primary;
      font-weight: 600;
      color: white;
      margin: 0;
      position: relative;
      z-index: 1;
    }
    h2 {
      position: relative;
      font-size: 92px;
      font-family: $font-family-primary;
      font-weight: 600;
      color: white;
      margin: -15px 0 0 0;
      z-index: 1;
    }
    h3 {
      position: relative;
      font-size: 52px;
      font-family: $font-family-primary;
      font-weight: 600;
      color: white;
      margin: -10px 0 0 0;
      z-index: 1;
    }
    p {
      position: relative;
      z-index: 1;
      font-weight: 300;
      font-size: 14px;
      font-family: "General Sans", sans-serif;
      color: white;
      max-width: 500px;
      line-height: 20px;
      margin-top: 10px;
    }
  }
  .count-down {
    z-index: 1;
    background: #ffffff26;
    display: flex;
    position: relative;
    border-radius: 5px 0 83px 5px;
    max-width: 685px;
    margin-top: 45px;
    .item-count-down {
      padding: 0 42px;
      text-align: center;
      position: relative;
      &:before {
        content: "";
        background: #e7eaf133;
        width: 1px;
        position: absolute;
        right: 0;
        height: 70%;
        margin: auto;
        top: 0;
        bottom: 0;
      }
      span {
        font-size: 37px;
        font-family: $font-family-primary;
        font-weight: 600;
        color: white;
        margin: 0;
      }
      p {
        font-family: $font-family-primary;
        font-weight: $font-weight-normal;
        font-size: 19px;
        color: #f9a5ff;
        margin-top: 0;
      }
      &:last-of-type {
        &:before {
          content: none;
        }
      }
    }
    &:before {
      content: "";
      background: transparent url(../img/img-count-down.png) no-repeat center;
      position: absolute;
      width: 30px;
      height: 30px;
      right: -31px;
      top: -10px;
    }
  }
  .menu-banner {
    background: linear-gradient(
      90deg,
      #67d0e882 0%,
      #ad49dc6b 35%,
      #67d0e882 100%
    );
    position: relative;
    z-index: 1;
    ul {
      list-style: none;
      display: flex;
      margin: 20px 0 0 0;

      li {
        padding: 20px 30px 20px 0;
        margin-right: 30px;
        position: relative;
        a {
          font-family: $font-family-primary;
          font-weight: $font-weight-normal;
          font-size: 19px;
          color: white;
          margin-top: 0;
          position: relative;
          display: inline-block;
          vertical-align: middle;
        }
        &:before {
          content: "";
          position: absolute;
          right: 0;
          width: 1px;
          height: 26px;
          top: 0;
          bottom: 0;
          margin: auto;
          background: #caccd254;
        }
        &:last-of-type {
          &:before {
            content: none;
          }
        }
      }
    }
  }
}
