html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-family-primary;
  line-height: 1.6;
  direction: $mtn-direction;
  background-color: $mtn-white-3;
}

ul {
  padding: 0;
}
a {
  color: $mtn-primary;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  &:hover,
  &:focus {
    color: $mtn-dark-1;
    outline: none;
  }
}

strong,
b {
  font-weight: bold;
}

@for $i from 1 to 54 {
  .mtn-text-#{$i} {
    font-size: #{($i/16 )}em;
  }
}

p {
  line-height: 28px;
  font-weight: 400;
}

.mtn-font-General {
  font-family: $font-family-primary;
}
.mtn-font-General-variable {
  font-family: $font-family-primary-bis;
}
.mtn-font-Gotham {
  font-family: $font-family-secondary;
}
.mtn-font-Gotham-book {
  font-family: $font-family-secondary-bis;
}
// font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 800;
.mtn-fw-light {
  font-weight: $font-weight-light;
}
.mtn-fw-normal {
  font-weight: $font-weight-normal;
}
.mtn-fw-medium {
  font-weight: $font-weight-medium;
}
.mtn-fw-semiBold {
  font-weight: $font-weight-semi-bold;
}
.mtn-fw-bold {
  font-weight: $font-weight-bold;
}
.mtn-fw-extraBold {
  font-weight: $font-weight-extra-bold;
}
.mtn-fw-black {
  font-weight: $font-weight-black;
}
// Color
.mtn-color-green-1 {
  color: $mtn-logo-green-1;
}
.mtn-color-green-2 {
  color: $mtn-logo-green-2;
}
.mtn-color-orange-1 {
  color: $mtn-logo-orange-1;
}
.mtn-color-orange-2 {
  color: $mtn-logo-orange-2;
}
.mtn-color-blue-1 {
  color: $mtn-logo-blue-1;
}
.mtn-color-blue-2 {
  color: $mtn-logo-blue-2;
}
.mtn-color-mauve-1 {
  color: $mtn-logo-mauve-1;
}
.mtn-color-mauve-2 {
  color: $mtn-logo-mauve-2;
}
.mtn-color-rouge-1 {
  color: $mtn-logo-rouge-1;
}
.mtn-color-rouge-2 {
  color: $mtn-logo-rouge-2;
}
.mtn-color-grey-1 {
  color: $mtn-dark-5;
}
// Background color
.mtn-bg-green-1 {
  background-color: $mtn-logo-green-1;
}
.mtn-bg-green-2 {
  background-color: $mtn-logo-green-2;
}
.mtn-bg-orange-1 {
  background-color: $mtn-logo-orange-1;
}
.mtn-bg-orange-2 {
  background-color: $mtn-logo-orange-2;
}
.mtn-bg-blue-1 {
  background-color: $mtn-logo-blue-1;
}
.mtn-bg-blue-2 {
  background-color: $mtn-logo-blue-2;
}
.mtn-bg-mauve-1 {
  background-color: $mtn-logo-mauve-1;
}
.mtn-bg-mauve-2 {
  background-color: $mtn-logo-mauve-2;
}
.mtn-bg-rouge-1 {
  background-color: $mtn-logo-rouge-1;
}
.mtn-bg-rouge-2 {
  background-color: $mtn-logo-rouge-2;
}
.mtn-bg-grey-1 {
  background-color: $mtn-dark-5;
}
