//========================================
//== MAIN FONTS
//========================================

//========================================
// General Sans
//========================================

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans/GeneralSans-Light.otf") format("openType");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans/GeneralSans-Regular.otf") format("openType");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans/GeneralSans-Medium.otf") format("openType");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans/GeneralSans-Semibold.otf") format("openType");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans/GeneralSans-Bold.otf") format("openType");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "General Sans Variable";
  src: url("../fonts/GeneralSans/GeneralSans-Variable.ttf") format("trueType");
  font-weight: 400;
  font-display: swap;
}

//========================================
// Gotham
//========================================

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Medium.ttf") format("trueType");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Bold.ttf") format("trueType");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham/Gotham-Book.ttf") format("trueType");
  font-weight: 900;
  font-display: swap;
}

//========================================
// Slick
//========================================

@font-face {
  font-family: "slick";
  src: url("../fonts/slick/slick.woff") format("woff2");
  font-weight: 400;
  font-display: swap;
}
