footer{

  .footer{
    .top-footer{
      background: url("../img/background-footer.png") no-repeat;
      background-size: cover;
      padding: 40px 0;
      .right-img{
        left: 30px;
        position: relative;
      }
      hr{
        background: $mtn-mauve-16;
        width: 60%;
      }
      .newsletter{
        margin: 0 80px 0 0;
        form{
          margin-top: 9px;
        }
        h4{
          font-size: 27px;
          color: #F9C46E;
          font-family: $font-family-primary;
          font-weight: $font-weight-semi-bold;
          margin: 0;
        }
        p{
          color: white;
          font-family: $font-family-primary;
          font-size: 14px;
          font-weight: $font-weight-normal;
          margin: 0;
        }
        form{
          padding: 17px 27px;
          display: flex;
          position: relative;
          border-radius:8px 0 39px 8px;
          overflow: hidden;
          &:before{
            content: "";
            opacity: 0.8;
            background: #292458;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
          input[type=email]{
            padding: 13px 24px;
            border-radius: 4px;
            font-family: $font-family-primary;
            font-size: 14px;
            font-weight: $font-weight-normal;
            color: $mtn-dark-4;
            border: 1px solid $mtn-dark-5;
            background: white;
            margin-right: 12px;
            position: relative;
            width: 250px;
          }
          input[type=submit]{
            position: relative;
            font-family: $font-family-primary;
            font-size: 13px;
            font-weight: $font-weight-medium;
            padding: 0 24px;
            color: white;
            border-radius: 4px 4px 20px 4px;
            text-transform: uppercase;
            background: linear-gradient(90deg, rgba(70,79,204,1) 0%, rgba(118,47,191,1) 35%, rgba(164,18,180,1) 100%);
            border: 1px solid #736CCC;
          }
          ::-webkit-input-placeholder { /* Edge */
            font-family: $font-family-primary;
            font-size: 14px;
            font-weight: $font-weight-normal;
            color: $mtn-dark-4;
          }

          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            font-family: $font-family-primary;
            font-size: 14px;
            font-weight: $font-weight-normal;
            color: $mtn-dark-4;
          }

          ::placeholder {
            font-family: $font-family-primary;
            font-size: 14px;
            font-weight: $font-weight-normal;
            color: $mtn-dark-4;
          }
        }
      }
      .menu-top-footer{
        list-style: none;
        margin: 0 80px 0 0;
        padding: 0;
        li{
          margin-bottom: 7px;
          a{
            color: $mtn-mauve-14;
            font-family: $font-family-primary;
            font-size: 13px;
            font-weight: $font-weight-normal;
          }
          &:first-of-type{
            font-family: $font-family-primary;
            font-size: 13px;
            font-weight: $font-weight-normal;
            color: $mtn-secondary;
            text-transform: uppercase;
            margin-bottom: 20px;
          }
        }
      }
    }

    .bottom-footer{
      background: linear-gradient(90deg, rgba(39,64,161,1) 0%, rgba(41,15,119,1) 35%, rgba(105,17,122,1) 100%);
      padding: 25px 0;
      p{
        margin: 0;
        color: $mtn-mauve-15;
        font-family: $font-family-primary;
        font-size: 13px;
        font-weight: $font-weight-normal;
        margin-right: 60px;

      }
      ul{
        margin: 0;
        margin-left: 55px;
        list-style: none;
        padding: 0;
        li{
          margin-right: 55px;
          display: inline-block;
          a{
            font-family: $font-family-primary;
            font-size: 13px;
            font-weight: $font-weight-normal;
            color: $mtn-mauve-15;
          }
        }
      }
    }
  }
}
