.mtn-container-xl {
  // bootstrap personalisation for 1440
  @include make-container();
  max-width: 1440px;
}
.mtn-container-xxl {
  // bootstrap personalisation for 1920
  @include make-container();
  max-width: 1920px;
}
@media (max-width: 1200px) {
  .mtn-container-xl,
  .mtn-container-xxl {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .mtn-container-xl,
  .mtn-container-xxl {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .mtn-container-xl,
  .mtn-container-xxl {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .mtn-container-xl,
  .mtn-container-xxl {
    max-width: 540px;
    padding-inline: 5px;
  }
}
// Responsive
@media (max-width: map-get($grid-breakpoints, "sm")) {
  .space {
    &.space-1x {
      height: 25px;
    }
    &.space-2x {
      height: 50px;
    }
    &.space-3x {
      height: 75px;
    }
    &.space-4x {
      height: 100px;
    }
  }
}

@media (min-width: 992px) {
  .mtn-container-alpha {
    max-width: 1000px;
    padding-left: calc((100% - 960px) / 2);
    padding-right: 15px;
  }
  .mtn-container-fluid {
    width: calc(((100% - 960px) / 2) + 960px) !important;
    margin-right: 0;
    max-width: initial;
  }
}

@media (min-width: 1200px) {
  .mtn-container-alpha {
    max-width: 1250px;
    padding-left: calc((100% - 1140px) / 2);
    padding-right: 15px;
  }
  .mtn-container-fluid {
    width: calc(((100% - 1140px) / 2) + 1140px) !important;
    margin-right: 0;
    max-width: initial;
  }
}
@media (min-width: 1300px) {
  .mtn-container {
    max-width: 1260px;
  }
  .mtn-container-fluid {
    width: calc(((100% - 1260px) / 2) + 1260px) !important;
    margin-right: 0;
    max-width: initial;
  }

  .mtn-container-alpha {
    max-width: 1530px;
    padding-left: calc((100% - 1260px) / 2);
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .mtn-container-alpha {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .mtn-container-fluid {
    width: calc(((100% - 719px) / 2) + 719px) !important;
    margin-right: 0;
    max-width: initial;
  }
}

@media (min-width: 1400px) {
  .mtn-container-fluid {
    width: calc(((100% - 1237px) / 2) + 1237px) !important;
    margin-right: 0;
    max-width: initial;
  }
}

@media (max-width: 991px) {
  .mtn-container-fluid {
    width: 100% !important;
    margin-right: 0;
    max-width: initial;
  }
}

@media (max-width: 767px) {
  .mtn-container-fluid {
    width: 100% !important;
  }
}

@media (max-width: 575px) {
  .mtn-container-fluid {
    width: 100% !important;
    margin-right: 0;
    max-width: initial;
  }
}
