header {
  position: absolute;
  width: 100%;
  top: 25px;
  z-index: 9;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu-page {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 50px;
        a {
          font-family: $font-family-primary;
          font-size: 13px;
          font-weight: $font-weight-medium;
          color: white;
          text-transform: uppercase;
        }
      }
    }
    .search {
      font-family: $font-family-primary;
      font-size: 13px;
      font-weight: $font-weight-medium;
      color: white;
      padding: 14px 37px 14px 24px;
      border: 2px solid white;
      border-radius: 4px;
      background: transparent url("../img/btn-arrow-sm.svg") no-repeat right
        20px center;
      transition: all 0.5s ease-out;
      &:hover {
        color: $mtn-mauve-2;
        background: white url("../img/btn-arrow-sm-mauve.svg") no-repeat right 20px center;
      }
    }
    .lng {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-left: 50px;
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          font-family: $font-family-primary-bis;
          font-size: 13px;
          font-weight: $font-weight-normal;
          color: white;
        }
        &.active {
          a {
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }
  .btn-mobile {
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 20px;
    background: url(../img/icon13.svg) no-repeat center;
    width: 25px;
    height: 25px;
    position: relative;
    background-size: 35px;
  }
}
