@media (max-width:1200px) {
  header{
    .header{
      .menu-page{
        li{
          margin-right: 30px;
        }
      }
      .lng{
        margin-left: 30px;
      }
      .search{
        padding: 10px 20px 10px 10px;
        background: transparent url(../img/btn-arrow-sm.svg) no-repeat right 4px center;
        &:hover{
          background: white url(../img/btn-arrow-sm-mauve.svg) no-repeat right 4px center;
        }
      }
    }
  }

}

@media (max-width: 1100px) {
  header{
    .header{
      .menu-page{
        li{
          margin-right: 15px;
        }
      }
      .lng{
        margin-left: 15px;
      }
    }
  }
  footer {
    text-align: center;
    .footer {
      .top-footer {
        .menu-top-footer {
          list-style: none;
          margin: 25px 80px 0 0;
          padding: 0;
          display: inline-block;
          vertical-align: text-top;
        }
      }
    }
  }
}

@media (max-width:995px) {

  header {
    .header {
      img{
        width: 175px;
      }
      .menu-page {
        li {
          margin-right: 10px;
          a {
            font-family: "General Sans", sans-serif;
          }
        }
        .lng {
          margin-left: 10px;
        }
      }
    }
  }
}
@media (max-width:960px) {

  footer{
    text-align: center;
    .footer{
      .top-footer{
        hr {
          width: 10%;
        }
        .menu-top-footer{
          list-style: none;
          margin: 25px 80px 0 0;
          padding: 0;
          display: inline-block;
          vertical-align: text-top;
        }
        .newsletter{
          margin: 0 auto 0 auto;
          width: 90%;
          text-align: center;
          form input[type=email]{
            width: 90%;
          }
        }

      }
      .bottom-footer{
        img{
          width: inherit;
        }
        ul{
          margin-left: 10px;
          li{
            margin-right: 25px;
          }
        }
      }
      img{
        width: 150px;
      }
    }

  }
  header {
    .header{
      .menu-page {
        position: absolute;
        background: #dae1f2;
        left: 0;
        width: 100%;
        top: -25px;
        display: none;
        background: linear-gradient(90deg, #0939dac9 0%, #ac0db2 100%);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 30px;
        li{
          display: block;
          margin: 20px auto;
          text-align: center;
          font-size: 20px;
        }
      }
    }


  }
  #banner {
    .absolute-banner {
      h2 {
        font-size: 60px;

      }}
    .menu-banner ul li {
      padding: 20px 15px 20px 0;
      margin-right: 15px;
    }
  }

}

@media (max-width:768px) {
  header{
    .header{
      .search{
        font-size: 17px;
        padding: 10px 35px 10px 10px;
      }
    }
  }
  footer{
    text-align: center;
    .footer{
      .top-footer{
        hr {
          width: 10%;
        }
        .menu-top-footer{
          margin: 25px 20px 0 0;
        }

      }
      .bottom-footer{
        ul{
          li{
            margin-right: 15px;
          }
        }
        img{
          width: inherit;
        }
        p{
          margin-right: 5px;
        }
      }
      img{
        width: 150px;
      }
    }

  }
  #banner {
    height: 620px;
    .menu-banner{
      ul{
        li{
          a{
            font-size: 15px;
          }
        }
      }
    }

  }
}
@media (max-width:640px) {
  header{
    .header{
      img {
        width: 140px;
      }
      .search {
        font-size: 12px;
        padding: 10px 20px 10px 10px;
      }
    }
  }
  #banner{
    .absolute-banner{
      top: 170px;
      h5{
        font-size: 18px;
      }
      h2 {
        font-size: 40px;
        margin: 0;
      }
      h3{
        font-size: 35px;
        margin: 0;
      }
    }
    .count-down{
      margin-top: 0;
      width: 94%;
      .item-count-down {
        padding: 0 10px;
        span{
          font-size: 20px;
        }
        p{
          font-size: 12px;
        }
      }
      &:before{
        background-size: 18px;
      }
    }
    .menu-banner
    ul{
      display: block;
      text-align: center;
      li{
        padding: 10px 10px 10px 0;
        margin-right: 0;
        a {
          font-size: 14px;
        }
        &:before{
          right: 0;
          left: 0;
          width: 61%;
          height: 1px;
          top: auto;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
  footer .footer .top-footer .newsletter form {
    padding: 17px 5px;
  }
  footer .footer .top-footer .newsletter form input[type=submit]{
    width: 60px;
    padding: 0 4px;
    font-size: 10px;
  }
  footer .footer .top-footer .newsletter form input[type=email] {
    width: 72%;
    margin-right: 6px;
  }
}
@media (max-width:300px) {
  header .header img {
    width: 100px;
  }
  header .header .search {
    font-size: 10px;
    padding: 10px 17px 10px 5px;
  }
  header .header .lng li a {
    font-family: "General Sans Variable", sans-serif;
    font-size: 10px;
  }
  header .btn-mobile {
    border: none;
    padding: 0;
    margin-left: 10px;
    background-size: 20px;
  }
  #banner .absolute-banner h3 {
    font-size: 30px;
  }

}
