// Primary
$mtn-primary: #5C2A78;
$mtn-mauve-1: #69117A;
$mtn-mauve-2: #8215A8;
$mtn-mauve-3: #DC49A3;
$mtn-mauve-4: #6D0071;
$mtn-mauve-5: #AC0DB2;
$mtn-mauve-6: #B567D1;
$mtn-mauve-7: #DB48FE;
$mtn-mauve-8: #F9A5FF;
$mtn-mauve-9: #C8A0D6;
$mtn-mauve-10: #AC58C9;
$mtn-mauve-11: #97128E;
$mtn-mauve-12: #6F077C;
$mtn-mauve-13: #D798FB;
$mtn-mauve-14: #8577CE;
$mtn-mauve-15: #E9C8FF;
$mtn-mauve-16: #932DD6;

// Secondary
$mtn-secondary: #F9C46E;
$mtn-orange-1: #FECE6F;
$mtn-orange-2: #FF9853;

// Dark
$mtn-dark-1:#111417;
$mtn-dark-2:#12161C;
$mtn-dark-3:#2F3136;
$mtn-dark-4:#646974;
$mtn-dark-5:#9399A7;

// Blue
$mtn-blue-1:#D0D8EF;
$mtn-blue-2:#2B1577;
$mtn-blue-3:#260C71;
$mtn-blue-4:#68A3DB;
$mtn-blue-5:#5572B2;
$mtn-blue-6:#0939DA;
$mtn-blue-7:#51AAFF;
$mtn-blue-8:#2341B9;
$mtn-blue-9:#2846B8;
$mtn-blue-10:#2754EB;
$mtn-blue-11:#0939DA;
$mtn-blue-12:#2643A2;
$mtn-blue-13:#BED2FF;

// White
$mtn-white-1:#FFFFFF;
$mtn-white-2:#E7EAF1;
$mtn-white-3:#E3E3E3;
$mtn-white-4:#646974;

// Logo Color
$mtn-logo-green-1:#94C11F;
$mtn-logo-green-2:#007635;
$mtn-logo-orange-1:#F07D00;
$mtn-logo-orange-2:#E74011;
$mtn-logo-blue-1:#3CA4DC;
$mtn-logo-blue-2:#004F9F;
$mtn-logo-mauve-1:#C8057F;
$mtn-logo-mauve-2:#64105B;
$mtn-logo-rouge-1:#D41124;
$mtn-logo-rouge-2:#991520;

// Header personalisation
$mtn-headerHeight: 55px;
$mtn-sidebarWidth: 220px;
$mtn-left: left;
$mtn-right: right;
$mtn-direction: ltr;

// Fonts family
$font-family-primary: 'General Sans', sans-serif;
$font-family-primary-bis: 'General Sans Variable', sans-serif;
$font-family-secondary: 'Gotham', sans-serif;
$font-family-secondary-bis: 'Gotham Book', sans-serif;

// Fonts weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 800;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px,
  //
  xxl: 1440px,
);

