#main-contributeurs {
  background: linear-gradient(
    180deg,
    rgba(215, 152, 251, 0.36) 0%,
    rgb(197, 205, 219) 10%,
    rgb(255, 255, 255) 100%
  );
}
#contributeurs {
  background: center no-repeat url("../img/bg-contributeurs.svg");
  min-height: 550px;
  div:nth-child(1) {
    left: 31%;
  }
  div:nth-child(2) {
    left: 62%;
    top: 15%;
  }
  div:nth-child(3) {
    left: 35%;
    top: 70%;
  }
  div:nth-child(4) {
    left: 15%;
    top: 5%;
  }
  div:nth-child(5) {
    left: 60%;
    top: 50%;
  }
  div:nth-child(6) {
    left: 20%;
    top: 38%;
  }
  div:nth-child(7) {
    left: 23%;
    top: 65%;
  }
  div:nth-child(8) {
    left: 80%;
    top: 65%;
  }
  div:nth-child(9) {
    left: 52%;
  }
  div:nth-child(10) {
    left: 57%;
    top: 78%;
  }
  div:nth-child(11) {
    left: 83%;
    top: 18%;
  }
  div:nth-child(12) {
    left: calc(50% - 57px);
    top: calc(50% - 50px);
  }
}
#morocco-tech-hub {
  background: url("../img/ma-tech-hub.svg") left center no-repeat,
    url("../img/ma-tech-hub.svg") right center no-repeat,
    linear-gradient(0deg, $mtn-blue-1 0%, $mtn-white-1 100%);
  @media (max-width: 768px) {
    background: url("../img/ma-tech-hub.svg") center no-repeat,
      url("../img/ma-tech-hub.svg") bottom center no-repeat,
      linear-gradient(0deg, $mtn-blue-1 0%, $mtn-white-1 100%);
  }
}
#main-digitale {
  background: linear-gradient(180deg, $mtn-blue-1 0%, $mtn-white-1 100%);
}
#sub-digitale {
  background: url("../img/bg-sub-digitale.svg") center / contain no-repeat;
}
#main-innovation {
  padding-top: 350px !important;
  @media (max-width:768px){
    padding-top: inherit !important;;
  }
  background: linear-gradient(0deg, $mtn-blue-1 0%, $mtn-white-1 100%);
}
#sub-innovation {
  background: url("../img/bg-sub-innovation.svg") center / contain no-repeat;
}
#top-footer {
  background: url("../img/background-footer.png") no-repeat;
  background-size: auto;
  background-size: cover;
  padding: 40px 0;
}
#bottom-footer {
  background: linear-gradient(
    90deg,
    rgba(39, 64, 161, 1) 0%,
    rgba(41, 15, 119, 1) 35%,
    rgba(105, 17, 122, 1) 100%
  );
  padding: 25px 0;
}
#main-actualite {
  max-height: 900px;
  @media (max-width:768px){
    max-height: initial;
  }
  background: url("../img/back-actualite.png") center / cover no-repeat,
    url("../img/back-actualite-arrow.svg") right center no-repeat,
    linear-gradient(
      0deg,
      rgba(43, 21, 119, 1) 0%,
      rgba(38, 12, 113, 1) 30%,
      rgba(105, 17, 122, 1) 100%
    );
}

#banner{
  position: relative;
  overflow: hidden;
  &:before{
    content: "";
    background: linear-gradient(90deg, #2b1577 0%, #6d329e 55%, #d7d3d37a 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
  }
  &:after{
    content: "";
    background: transparent url(../img/bg-text.png) no-repeat center;
    position: absolute;
    width: 600px;
    height: 419px;
    top: 43px;
    left: -38px;
    background-size: 100% 100%;
  }

}