// Btn Navigation
.btn-navigation {
  padding: 13px;
  text-align: left;
  border-radius: 4px;
  color: $mtn-white-1;
  border: solid $mtn-white-1;
  background-color: transparent;
  transition: all 0.3s;
  &:hover {
    padding-inline: 20px;
    background-color: $mtn-white-1;
    color: $mtn-primary;
  }
}

.btn-main-white {
  padding: 13px;
  border-radius: 4px;
  border: solid $mtn-white-1;
  background-color: $mtn-white-1;
  color: $mtn-primary;
  width: auto;
}

.btn-main-primary {
  background: linear-gradient(90deg, $mtn-blue-6 0%, $mtn-mauve-5 100%);
  text-align: center;
  padding-block: 14px;
  padding-inline: 24px;
  font-weight: $font-weight-semi-bold;
  color: $mtn-white-1;
  border-radius: 4px;
  border: none;
  box-shadow: -3px -1px 17px -5px $mtn-dark-4;
}
.btn-rounded {
  width: 100px;
  height: 100px;
  padding-block: 0px;
  padding-inline: 0px;
  border-radius: 50%;
  transition: all 0.6s;
  img {
    transition: all 0.6s;
    position: relative;
    top: -25px;
  }
  span {
    transition: opacity 0.6s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    font-size: 12px;
  }
  @media (max-width: 768px) {
    span {
      opacity: 1;
      height: auto;
    }
    img{
      top: 0;
    }
    animation: crescendo 2s alternate infinite ease-in;
  }
  &:hover {
    transform: scale(1.4);
    img {
      top: 0;
    }
    span {
      opacity: 1;
      height: auto;
    }
  }
}
