.circleContributeur-sm {
  @include make-contributeur(50px)
}
.circleContributeur-md {
  @include make-contributeur(80px)
}
.circleContributeur-lg {
  @include make-contributeur(120px)
}
.circleContributeur-info {
  transition: all 0.5s ease-out;
  opacity: 0;
  position: absolute;
  top: calc(80% + 20% + 10px) !important; // height + scal on hover + TOP of after
  min-width: 160px;
  background-color: $mtn-blue-10;
  color: $mtn-white-1;
  box-shadow: 0px 0px 10px 0px $mtn-blue-10;
  z-index: 99;
  @include centerx();
  h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h3{
    font-size: 12px;
    margin-bottom: 0;
    text-transform: capitalize;
  }
  &:after {
    content: "";
    border-bottom: solid 10px $mtn-blue-10;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    top: -10px !important;
    position: absolute;
    left: calc(50% - 6px);
  }
}
