.primary-title {
  font-size: 2.3rem;
  font-weight: $font-weight-bold;
  color: $mtn-logo-mauve-2;
}
.grey-title {
  text-transform: uppercase;
  color: $mtn-dark-5;
  font-size: 20px;
  font-weight: $font-weight-semi-bold;
  letter-spacing: 2.8px;
}
.orange-title {
  text-transform: uppercase;
  color: $mtn-orange-2;
  font-size: 20px;
  font-weight: $font-weight-semi-bold;
  letter-spacing: 2.8px;
}
.primary-title-white {
  font-size: 2.3rem;
  font-weight: $font-weight-bold;
  color: $mtn-white-1;
}
.mtn-text-white {
  font-size: 1rem;
  font-weight: $font-weight-normal;
  color: $mtn-white-1;
  &.mtn-text-center {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
  }
}
