//
// all ScrollBar
//
::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}
::-webkit-scrollbar-track {
  background-color: lighten(#D0D8EF ,5%);
  border-radius: 100vw;
  &:hover{
    background-color: #D0D8EF;
  }
  // margin-block:1rem; // add margin top and buttom
}

::-webkit-scrollbar-thumb {
  background-color: #97128E;
  &:hover{
    background-color: darken( #5C2A78, 2%);
  }
  border-radius: 100vw;
}

//
// vertical ScrollBar
//
// .vertical-scroll::-webkit-scrollbar-track {
//   background-color: rgb(233, 229, 229);
//   border-radius: 100vw;
//   // margin-block:1rem; // add margin top and buttom
// }
// .vertical-scroll::-webkit-scrollbar-thumb {
//   background-color: rgb(175, 101, 101);
//   border-radius: 100vw;
// }

//
// horizontal ScrollBar
//
// body::-webkit-scrollbar-track {
//   background-color: rgb(230, 233, 229);
//   border-radius: 100vw;
//   margin-block:1rem; // add margin top and buttom
// }
// body::-webkit-scrollbar-thumb {
//   background-color: $mtn-primary;
//   border-radius: 100vw;
// }