.mtn-black-shader {
  width: 100%;
  height: 40%;
  background: linear-gradient(
    180deg,
    rgba(31, 38, 48, 0) 0%,
    rgba(20, 24, 30, 0.95) 100%
  );
  position: absolute;
  bottom: 0;
}

.mtn-white-shader {
  width: 100%;
  height: 40%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.95) 25%
  );
  position: absolute;
  bottom: 0;
}
